@mixin container-fluid() {
	box-sizing: border-box;
	min-width: 320px;
	margin: 0 auto;

	@media ($tablet-widths) {
		max-width: 1170px;
	}

	
}

/*@mixin left-green-line($leftx: 0, $top-c: 3px, 
											$width: 2px, $height: 16px, $M-width: 3px, 
											$M-height: 22px, $M-left: 0, $M-top: 0;) {

	&::before {
		content: "";
		display: table;
		position: absolute;
		left: $left;
		top: $top-c;
		width: $width;
		height: $height;
		background-image: linear-gradient(#4b7c07, #72c500);

		@media (min-width: 768px) {
			left: $M-left;
			top: 0;
			width: 3px;
			height: 22px;
		}
	}
}
*/

@mixin link-effects($underline: underline) {
	text-decoration: none;
	&:hover {
		color: #72c500;
		text-decoration: $underline;
	}
	&:focus {
		color: #17ba01;
		text-decoration: $underline;
	}

}

@mixin white-green-line() {
	&::before {
		content: "";
		position: absolute;
		left: 50%;
		bottom: 24px;
		margin-left: -100px;
		width: 205px;
		height: 4px;
		background: white;
		z-index: 10;
	}

	&::after {
		content: "";
		position: absolute;
		left: 50%;
		bottom: 24px;
		margin-left: -40px;
		width: 80px;
		height: 4px;
		background-image: linear-gradient(90deg, #4a7a07, #72c500);
		z-index: 11;
	}

	@media (min-width: 768px) {
		&::before,
		&::after {
			bottom: 31px;
		}
	}
}