.btn {
	position: relative;
	display: inline-block;
	width: 165px;
	height: 41px;
	margin: 0 auto;
	background-image: linear-gradient(90deg, #4a7a07, #72c500);
	border-radius: 40px;

}

.btn__content {
	position: absolute;
	display: block;
	left: 1px;
	top: 1px;
	box-sizing: border-box;
	padding: 11px 30px;
	width: 163px;
	text-align: center;
	text-decoration: none;
	font-size: 14px;
	line-height: 17px;
	font-weight: 400;
	color: black;
	background: white;
	border-radius: 40px;
}

.btn__content:hover {
	color: white;
	background: transparent;
}

.btn__content:focus {
	color: white;
	background-image: linear-gradient(90deg,#72c500,#4a7a07);
}

.ratings {
	@media (min-width: 768px) {
	 	.btn {
			width: 200px;
			height: 50px;
		}

		.btn__content {
			padding: 15px 30px;
			width: 198px;
			height: 48px;
			font-size: 15px;
			line-height: 18px;
		}
	}
}
	