.helpful-info-block  {
	flex-basis: 100%;
	box-sizing: border-box;
	padding: 0 20px 25px;
	margin-bottom: 17px;
	background: white;
	border-radius: 20px;
	text-align: left;

	@media (min-width: 700px) {
		margin-bottom: 21px;

	}
}