.rating-input {
  display: flex;
  position: relative;
  flex-direction: row-reverse;
  justify-content: space-between;
  flex-wrap: wrap-reverse;
  box-sizing: border-box;
  padding: 0 20px;


  .rating-input__description {
    order: 11;
    flex-basis: 100%;
    margin-bottom: 9px;
    font-size: 13px;
    font-weight: 400;
    line-height: 17px;
    color: #363636;
  }

  label {
    position: relative;
    margin: 0;
    margin-bottom: 22px;
    padding: 0;
    height: 15px;
    width: 15px;
    cursor: pointer;
    background: url('../img/star-grey.png') no-repeat;
    background-size: contain;
    

  }

  input:checked ~ label, 
  label:hover, 
  label:hover ~ label {
    background: url('../img/star.png') no-repeat;
    background-size: contain;
  }


  input {
    display: none;
    /*filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
    width: 15px;
    height: 15px;
    position: absolute;
    top: 0;
    z-index: 0;
    */
  }

  @media (min-width: 500px) {
    .rating-input__description {
      margin-bottom: 9px;
      font-size: 17px;
      line-height: 22px;

      @media (min-width: 770px) {
        flex-basis: 34%;
      }
    }
    label {
      width: 23px;
      height: 22px;
    }
  }
}