.review-form {
  box-sizing: border-box;
  padding-top: 12px;
  text-align: center;

  fieldset {
    width: 100%;
    padding: 0;
    padding-top: 5px;
    margin-bottom: 19px;
    border: none;
    text-align: left;
    //border: 2px solid yellow; 
  }

  /*.review-form__rating {
    background: white;
      &::before {
        content: "";
        position: absolute;
        left: 100px;
        z-index: 1;
        width: 94%;
        height: 40px;
        background: #eaffce;
      }
    }*/

  .review-form__title {
    margin: 0;
    padding: 0;
    text-align: left;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 700;
    line-height: 21px;
    color: #000c20;
  }

  .review-form__title--rating {
    position: relative;
    padding:  12px 32px;
    border-radius: 20px;
    background: #eaffce;
    text-transform: none;
    text-align: center;
    font-size: 13px;
    font-weight: 400;
    line-height: 17px;
    color: #2e2e2e;
    z-index: 5;    
  }

  .review-form__description {
    margin: 5px 0 23px;
    padding: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    color: #363636;
  }

  span {
    display: block;
    padding: 0;
    margin: 0;
    margin-bottom: 6px;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    color: #2e2e2e;
   // border: 1px solid blue;
  }

  label {
    display: inline-block;
    box-sizing: border-box;
    margin: 0;
    margin-bottom: 16px;
    padding: 0;
    width: 100%;
    //border: 1px solid red;
  }
 
  input,
  textarea {
    display: block;
    box-sizing: border-box;
    width: 100%;
    padding: 9px 15px;
    margin-bottom: 10px;
    border: 1px solid #72c500;
    border-radius: 20px;
    font-size: 12px;
    font-weight: 400;
    line-height: 15.5px;
    border-image: none;
    outline:0;

    &:hover {
      border: 1px solid #17ba01;
    }

    &:focus {
      border: 1px solid #2c8ea6;
    }
  } 

  textarea {
    margin-bottom: 0;
    height: 182px;
    resize: none;
  }
  
  .review-form__conditions {
    position: relative;
    margin: 0 20px;
    text-align: left;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    color: #a2a2a2;
    
    a {
      color: #318f95;
      padding-bottom: 1px;
      text-decoration: none;

      &:hover {
        color: #72c500;
        //text-decoration: underline;
        border-bottom: 1px solid #72c500;
      }
      &:focus {
        color: #17ba01;
        border-bottom: 1px solid #17ba01;
      }
    }

    &::before {
      content: "✔";
      position: absolute;
      left: -25px;
      top: 13px;
      box-sizing: border-box;
      padding-top: 2px;
      padding-left: 3px;
      width: 15px;
      height: 15px;
      color: white;
      font-size: 10px;
      font-weight: 500;
      line-height: 10px;
      border-radius: 20px;
      background: #318f95;
   } 

   .btn {
    display: block;
   }
  }


  @media (min-width: 500px) {
    padding-top: 29px;

    .review-form__title {
      font-size: 29px;
      line-height: 38px;
    }
    
    .review-form__title--rating {
      
      text-align: left;
      font-size: 15px;
      line-height: 19.5px;
    }
    .review-form__description {
      margin: 1px 0 41px;
      font-size: 15px;
      line-height: 19.5px;
    }

    .review-form__label--half {
      float: left;
      width: 47%;
    }

     .review-form__label--right {
      float: right;
     }

    label {
      margin-bottom: 22px;
    }

    span { 
      margin-bottom: 8px;
      font-size: 16px;
      line-height: 21px;
    }

    input,
    textarea {
      padding: 12.5px 20px;
      font-size: 14px;
      line-height: 18px;
    } 
    textarea {
      height: 140px;
    }

    .review-form__conditions {
      text-align: center;
      font-size: 15px;
      line-height: 19.5px;

       &::before {
        left: 5px;
        top: 3px;
        padding-left: 4px;
     } 
    }
  }
}